html,body{
    width:100%;
    height:100%;
}
body {
background-image: url(../Assets/Congrats.png);
background-repeat: no-repeat;
background-size: cover;
}
h1{
font-size:38px;
font-family:"Brush Script MT", cursive;
color:#008CBA;
text-shadow: -2px 0 white, 0 2px white, 1px 0 white, 0 -1px white;
}
h2{
font-size:22px;
font-family:"Harrington", fantasy;
color:rgb(156, 1, 79);
text-shadow: -1px 0 rgb(253, 108, 234), 0 1px rgb(253, 108, 234), 1px 0 white, 0 -1px white;
}
h3{
font-size:22px;
font-family:"Brush Script MT", cursive;
color:#008CBA;
text-shadow: -2px 0 white, 0 2px white, 1px 0 white, 0 -1px white;
}
.mytext {
font-size:30pt;
height: 36px;
width: 100px;
}
.mybutton {
background-color: #008CBA;
color: white;
border: none;
border-radius: 3px;
font-size:22pt;
height: 36px;
width: 100px;
}
.image {
    border-radius: 6px;
        }