html,body{
    width:100%;
    height:100%;
}
body {
background-image: url(../Assets/Chalkboard.jpg);
background-repeat: no-repeat;
background-size: cover;
}
h2{
font-size:30px; 
font-family:"Liberation Mono", monospace;
color:whitesmoke;
}
p{
font-size:18px;
}
.mytext {
font-size:22pt;
text-align: center;
height: 36px;
width: 100px;
border-color: black; 
border-radius: 1px;
width: 250px;
}
.mytext1 {
    font-size:22pt;
    text-align: center;
    height: 36px;
    width: 100px;
    border-color: black; 
    border-radius: 1px;
    width: 310px;
    }
.mybutton {
background-color: #008CBA;
color: white;
border: none;
border-radius: 3px;
font-size:22pt;
height: 36px;
width: 100px;
}
.myAlphabutton {
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    font-size:14pt;
    height: 25px;
    width: 25px;
    }
.myAlphabutton:disabled {
        background-color: gray;
        color: white;
        border: none;
        border-radius: 3px;
        font-size:14pt;
        height: 25px;
        width: 25px;
        }
.image {
  border-radius: 6px;
  }